body {
  margin: 0;
}

.container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.item-1 {
  background-color: blueviolet;
  background: url('data:img/jpg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTI3MDY3NjYyMDk1IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwNDAgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjExOTQ1IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjIwMy4xMjUiIGhlaWdodD0iMjAwIj48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwvc3R5bGUPC9kZWZzPjxwYXRoIGQ9Ik0xMDIzLjgyOTEwOCA0NzQuNjU1NDY0IDQ3NC41NzQ2MjIgMTAyMy45Mzc1NzhsNTQ5LjI1NTUwOSAwTDEwMjMuODMwMTMxIDQ3NC42NTU0NjR6TTc4My4xNTk3NyA5NzkuNzMxNzc0bC05Ni44OTU4NDEtOTYuOTMyNjggMzYuMzM1NTU2LTM2LjM0OTg4MyA2MC41NjAyODQgNjAuNTgyNzk3IDE2OS41Njc5NzctMTY5LjYzMjQ0NSAzNi4zMzU1NTYgMzYuMzQ5ODgzTDc4My4xNTk3NyA5NzkuNzMxNzc0eiIgcC1pZD0iMTE5NDYiIGZpbGw9IiNmZTljMWYiPjwvcGF0aD48L3N2Zz4=');
}